.western-world-section{

  display: flex;
  padding: 16px;
 
  &__title{
    margin: 0 auto;
    color: rgb(192, 192, 192);
    
    font-size: 32px;
    @media screen and (min-width: 480px) {
      font-size: 36px;
    }
    
    @media screen and (min-width: 768px) {
      font-size: 46px;
    }
    
    @media screen and (min-width: 1280px) {
      font-size: 72px;
    }
                
  }
  &__text{
    font-size: 14px;
    color: rgb(192, 192, 192);
    
    @media screen and (min-width: 480px) {
      font-size: 16px;
    }
    
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
    
    @media screen and (min-width: 1280px) {
      font-size: 24px;
    }
  }

  &__div{
    top: 16px;
    left: 16px;
    padding: 6px;
  }

&__esg-text{
  font-size: 17px;
   color: var(--color-2-green);
  text-shadow: 0px 0px 24px var(--color-brand-dark);
    @media screen and (min-width: 480px) {
      font-size: 20px;
    }
    
    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
    
    @media screen and (min-width: 1280px) {
      font-size: 30px;
    }
  }


  &__img{
    display: none;
    @media screen and (min-width:480px) {
      margin: 8px;
        width: 200px;
        height: 200px;
        }
      
        @media screen and (min-width:768px) {
          margin: 10px;
          width: 420px;
          height: 420px;
            }
          
            @media screen and (min-width:1280px) {
              margin: 12px;
              width: 500px;
              height: 500px;
                }
              
        
  }

  &__ul-icon{
    border-radius: 50%;
    width: 28px;

    @media screen and (min-width:$bp-mobile) {
        width: 32px;
    }
    @media screen and (min-width:$bp-tablet) {
        width: 52px;   
    }
    @media screen and (min-width:$bp-desktop) {
        width: 72px;
    }
}
&__case{
  display: flex;
    align-items: center;
    justify-content: space-between;
}

&__ul{
  max-width: 80%;
  @media screen and (min-width: 480px) {
    max-width: 50%;
  }
  
  // @media screen and (min-width: 768px) {
  //   font-size: 22px;
  // }
  
  
}
}

.western-world-section-with-photo{
  display: flex;
  background-size: cover;
  background-image: linear-gradient(83deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url(../images/esg-back-1.jpg) ;
  background-repeat: no-repeat;
  background-position: center top;
  color: white;
  padding: 24px 12px;
  
    
      @media screen and (min-width:768px) {
        
        background-image: linear-gradient(83deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url(../images/esg-back.jpg) ;  
      }
}